# Project files
.vscode
Copy-CS.ps1
CS-MAIN-PROJECT.code-workspace
NOTES.md
Release.ps1
Run-CS.ps1
Unset-Read-Only.ps1

# Debugging files
gamedata/scripts/show_on_hud.script
gamedata/scripts/ui_main_menu.script
